<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Productos</title>
  </head>
  <body>
    <h1>LegoWorldLA Store</h1>
    <h2>Nuestros Productos</h2>
    <section>
      {{#each products}}
        <div class="container">
          <h3>{{title}}</h3>
          <p> ${{price}}</p>
          <p>{{description}}</p>
          <img src={{thumbnail}} alt="img" />
        </div>
      {{/each}}
    </section>
    {{! Incluir socket.io si es necesario}}
    {{!-- {{#if useWS}}
      <script src="/socket.io/socket.io.js"></script>
    {{/if}} --}}
    <script src="/js/landing.js"></script>
  </body>

</html>